@font-face {
  font-family: "iconfont"; /* Project id 2507882 */
  src: url('iconfont.woff2?t=1627221922097') format('woff2'),
       url('iconfont.woff?t=1627221922097') format('woff'),
       url('iconfont.ttf?t=1627221922097') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan2:before {
  content: "\e883";
}

.icon-shangchuan3:before {
  content: "\e884";
}

.icon-xunhuan7:before {
  content: "\e885";
}

.icon-paixu:before {
  content: "\e88d";
}

.icon-sousuo1:before {
  content: "\e88e";
}

.icon-zhaopian:before {
  content: "\e88f";
}

.icon-suoding:before {
  content: "\e890";
}

.icon-ditu:before {
  content: "\e891";
}

.icon-gengduo1:before {
  content: "\e892";
}

.icon-yuyin1:before {
  content: "\e893";
}

.icon-zhuanfa1:before {
  content: "\e895";
}

.icon-tuige:before {
  content: "\e897";
}

.icon-lianjie:before {
  content: "\e89c";
}

.icon-shijian:before {
  content: "\e89d";
}

.icon-liaotian:before {
  content: "\e89e";
}

.icon-yuyin:before {
  content: "\e8a0";
}

.icon-gengduo:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-bottom:before {
  content: "\e667";
}

.icon-download:before {
  content: "\e66c";
}

.icon-erji:before {
  content: "\e630";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-toutiao:before {
  content: "\e787";
}

.icon-weixin:before {
  content: "\e61c";
}

.icon-Arrow-double-right:before {
  content: "\e60b";
}

.icon-Arrow-double-left:before {
  content: "\e60c";
}

.icon-Arrow-left:before {
  content: "\e60d";
}

.icon-Arrow-right:before {
  content: "\e60e";
}

.icon-Edit:before {
  content: "\e610";
}

.icon-Switch:before {
  content: "\e611";
}

.icon-view:before {
  content: "\e612";
}

.icon-Upload:before {
  content: "\e613";
}

.icon-attachment:before {
  content: "\e614";
}

.icon-filter:before {
  content: "\e615";
}

.icon-Success:before {
  content: "\e616";
}

.icon-Success-filling:before {
  content: "\e618";
}

.icon-Error:before {
  content: "\e619";
}

.icon-Error-filling:before {
  content: "\e61b";
}

.icon-B:before {
  content: "\e6f8";
}

.icon-gouwuche:before {
  content: "\e600";
}

.icon-gouwuche1:before {
  content: "\e629";
}

.icon-Arrow-down:before {
  content: "\e608";
}

.icon-Arrow-up:before {
  content: "\e609";
}

.icon-sousuo:before {
  content: "\e617";
}

.icon-heimingdan:before {
  content: "\e7f1";
}

.icon-1:before {
  content: "\e63b";
}

.icon-15:before {
  content: "\e63c";
}

.icon-3:before {
  content: "\e63a";
}

.icon-naozhong:before {
  content: "\e60a";
}

.icon-hongluobu:before {
  content: "\e7f0";
}

.icon-dianzan:before {
  content: "\e61a";
}

